*{
    margin: 0;
    padding: 0;
   box-sizing:border-box ;
}

@media screen and (min-width: 1281px){

    /* header */
    header{
        padding: 30px;;
        display: flex;
        width: 100%;
        height: 100px;
        justify-content: space-between;
        align-items: center;
     
       
    }
    
    .nav ul li{
    
        display: inline-block;
     
    }
    .nav ul li a{
        color:#0065FC;
        text-decoration: none;
        margin: 30px;
        padding: 20px;
        padding-top: 35px;
        font-family: 'Raleway', sans-serif;
        
    }
    
    .nav ul li a:hover{
    
        color:black;
        border-top: 2px solid #0065FC;
        color:black;
        font-weight: 100;
    }
    
    .logo{
    
        width: 100px;
    }
    /* general  */
    h2,h3,h4,h5,p, a{
       
    
    }
    a{
        color: black;
    }
    
    h3{
        font-size: 25px;
    }

   
    /* section recherche */
    #recherche{
    
        width: 100%;
        height: 300px;
        padding: 30px;
    
        
    }

    #barre{
        display: flex;
        border: 1px solid black;
        width: max-content;
        border-left: 0;
        border-right: 0;
        border-top: none;
        border-bottom: none;
    

    }

    .buton{
        border:0;
        height: 50px;
        padding: 10px;
        border-top: 1px solid gainsboro;
        border-bottom:1px solid gainsboro ;
    }

    #icone{
        height: 50px;
        line-height: 50px;
        width: 40px;
        text-align: center;
        background: #d4dae4;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    .search{
        width: 10px;
        height: 30px;
        background-color: #0065FC;
        padding:  6px;
        text-decoration: none;
        color: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    #bouton{
        padding: 10px;
        height: 50px;
        background: #0065FC;
        color: #d4dae4;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border: none;
    }

    .filtre{
        display: flex;
        align-items: center;
        padding: 30px;
        position: absolute;
        margin-left: 20px;
        top: 300px;
    }

  

    .filtre a{
        width: 200px;
        margin-right: 20px;
        padding: 4px;
        border: 1px solid gainsboro;
        text-decoration: none;
        color: black;
        border-left: none;
        height: 40px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
      
    }

    #disponible{
        display: flex;
        padding: 30px;
        margin-left: 50px;
    }

   
 
    
    .bouton{
        height: 30px;
    }
    #bouton2{
        display: none;
    }

    #graph{
        display: flex;
        justify-content: space-between;
    }

    /* section hébergement */
    
    #heberge{
        display: flex;
        padding: 30px;
        width: 100%;
        justify-content: space-around;
       
    }

    #marseille{
       position: absolute;
        top: 550px;
        left: 100px;
    }
    
    .images{
        width: 100%;
        height: 150px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        left: 5px;
        top: 2px;
        padding: 5px;
    }

    .hotel a{
        position: absolute;
        width: auto;
        height: 200px;
    }

   
    
    .hotel1 a{
        position: absolute;
        margin: 2px;
        width: 200px;
        height: 200px;
        
      
    }
    
    .popu{
        width: 200px;
        height: 180px; 
        margin: 5px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
      
    }
    
    .hotel{
        position: relative;
        width:350px; 
        height:250px;
        background-color: white;
        border-radius: 20px;
        top: 10px;
        margin-bottom: 15px;
        box-shadow: inset gray;
        box-shadow: 8px 8px 10px 0 rgba(0,0,0,0.5);
        -webkit-transition: all 0.2s;
         -moz-transition: all 0.2s;
         -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
         transition: all 0.2s;
         margin-top: 50px;
       
    }
    
    .hotel:hover{
        transform:scale(1.1);
    
    }
    
    .hotel1{
        position: relative;
        float: left;
        width: 100%;
        background-color: white;
        height: 200px;
        border-radius: 20px;
        margin-bottom: 20px;
        box-shadow: 8px 8px 10px 0 rgba(0,0,0,0.5);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }
    
    .hotel1:hover{
        transform:scale(1.1);
    
    }
    
    
    .coment{
        position:absolute;
        left: 50%;
        top: 50px;
    }

    .commentaire{
        position:absolute;
        left: 5%;
        top: 160px;

    }


    .fa.search{
        display: none;
    }
    
    
    .fa-star.blue{
    
        color: #0065FC;
      
    }

    .fa-money-bill-wave{
       position: relative;
        color: #0065FC;
        background-color: #F2F2F2;
        height: 40px;
        padding: 10px;
        line-height: 40px;
        border-radius: 20px;
        left: 20px;
       
    }

    .fa-male{
        position: relative;
        color: #0065FC;
        padding: 10px;
        background-color: #F2F2F2;
        height: 40px;
        border-radius: 20px;
        left: 15px;
    }

    .fa-heart{
        position: relative;
        color: #0065FC;
        padding: 10px;
        background-color: #d4dae4;
        height: 40px;
        border-radius: 20px;
        left: 15px;
        
    }

    .fa-dog{
        position: relative;
        color: #0065FC;
        padding: 10px;
        background-color: #F2F2F2;
        height: 40px;
        border-radius: 20px;
        left: 20px;

    }

   
   /* aside  */
    
    #aside{
    
        background-color:#F2F2F2 ;
        width: 30%;
        border-radius: 10px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-content: space-around;
       
    }
    
    #plus{
        display: flex;
        width: 65%;
        background-color:#F2F2F2;
        height: 800px;
        padding: 30px;
        border-radius: 10px;
        justify-content:space-around;
        flex-wrap: wrap;

    }

/* section des activités */
    
    #activite{
        width: 100%;
        height: 100px;
        padding: 30px;
    }
    
    #act{
        width: 100%;
        height:600px;
        background-color:white;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }

    #activite h3{
        margin-left: 50px;
    }


    .imag{
        width: 20%;
        height: 80%;
        margin-right: 10px;
    }

    .acti1{

        background-color:white;
        padding-bottom: 40px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border: 1px solid rgb(238, 232, 232);
        box-shadow: 8px 8px 10px 0 rgba(0,0,0,0.5);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }

    .acti2{
        
        background-color: white;
        padding-bottom: 40px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border: 1px solid rgb(238, 232, 232);
        box-shadow: 8px 8px 10px 0 rgba(0,0,0,0.5);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        
    }

   






 

    .imag p{
        margin: 10px;
    }
    
    
    
    .image1{
      width: 100%;
       height: 100%;
       border-top-left-radius: 20px;
       border-top-right-radius: 20px;
    }
    
    .image2{
        width: 100%;
        height: 50%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        padding-top: 0;
       
    }

/* footer */
    
    footer{
        display: flex;
        position: relative;
        background-color:#F2F2F2;
        width: 100%;
        height: 150px;
        top: 600px;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
    }
    
    footer a{
        text-decoration: none;
        color: black;
    
    }


}


@media screen and (min-width:414px) and (max-width:736px){

    header{
        position: relative;
        padding: 30px;;
        display: flex;
        width: 100%;
        height: 100px;
        justify-content:flex-end;
        align-items: center;
       
    }

    .nav1{
     position: absolute;
     left: 10px;
    }

    .nav2{
        position: absolute;
        left: 200px;
    }

    .nav3{
        position: absolute;
        left: 200px;
        top: 20px;
    }

    .navigation{
        position: absolute;
        top: 70px;
    }

  
    .nav ul li{
    
        display: inline-block;
    }
    .nav ul li a{
        color:#0065FC;
        text-decoration: none;
         margin: 0;
        padding: 20px;
        padding-bottom: 10px;
        padding-left: 10px;
        font-family: 'Raleway', sans-serif;
    }

    
    .nav ul li a:hover{
    
        color:black;
        border-bottom: 2px solid #0065FC;
        color:black;
        font-weight: 100;
    
    }
    
    .logo{
        position: absolute;
        width: 100px;
        left: 10px;
        top: 25px;

    }

    h2,h3,h4,h5,p, a{
        font-family: 'Raleway', sans-serif;
    
    }
  
    
    h3{
        font-size: 22px;
    }

    #recherche{
        position: relative;
        width: 100%;
        height: 300px;
        padding: 30px;
        top: 20px;
    
        
    }

    #barre{
        display: flex;
        border: 1px solid black;
        width: max-content;
        border-left: 0;
        border-right: 0;
        border-top: none;
        border-bottom: none;
    

    }

    .buton{
        border:0;
        height: 50px;
        padding: 10px;
        border-top: 1px solid gainsboro;
        border-bottom:1px solid gainsboro ;
    }

    #icone{
        height: 50px;
        line-height: 50px;
        width: 40px;
        text-align: center;
        background: #d4dae4;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    


    .fa-search{
        left: 280px;
        top: 225px;
        background-color: #0065FC;
        padding: 0 10px 15px 10px;
        text-align: center;
        line-height: 50px;
    }
    
    #bouton{
        height: 30px;
        display: none;
    }

    #bouton2{
        position: relative;
        padding: 10px;
        height: 50px;
        background: #0065FC;
        color:white;
        border: none;
        border-radius: 20px;
        right: 15px;
    }

    .filtre{
        display: flex;
        align-items: center;
        padding: 30px;
        position: absolute;
        margin-left: 20px;
        top: 300px;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

  

    .filtre a{
        width: 200px;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 4px;
        border: 1px solid gainsboro;
        text-decoration: none;
        color: black;
        border-left: none;
        height: 40px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
      
    }

    fa-star.blue{
    
        color: #0065FC;
      
    }

    .fa-money-bill-wave{
       position: relative;
        color: #0065FC;
        background-color: #F2F2F2;
        height: 40px;
        padding: 10px;
        line-height: 40px;
        border-radius: 20px;
        left: 20px;
       
    }

    .fa-male{
        position: relative;
        color: #0065FC;
        padding: 10px;
        background-color: #F2F2F2;
        height: 40px;
        border-radius: 20px;
        left: 15px;
    }

    .fa-heart{
        position: relative;
        color: #0065FC;
        padding: 10px;
        background-color: #d4dae4;
        height: 40px;
        border-radius: 20px;
        left: 15px;
        
    }

    .fa-dog{
        position: relative;
        color: #0065FC;
        padding: 10px;
        background-color: #F2F2F2;
        height: 40px;
        border-radius: 20px;
        left: 20px;

    }


    #disponible{
        position: relative;
        display: flex;
        margin-left: 50px;
        top: 170px;
        left: 2px;
    }




    #heberge{
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-direction: column-reverse;
        position: relative;
        top: 180px;
    }
    
    .images{
       
        width: 100%;
        height: 150px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        left: 5px;
        top: 2px;
        padding: 5px;
    }

    .hotel a{
        position: absolute;
        margin: 2px;
        width: 100%;
        height: 250px;


    }
    
    .hotel1 a{
        position: absolute;
        margin: 2px;
        width: 100px;
        height: 100%;
        
    }
    
    .popu{
        width: 150px;
        height: 100%; 
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 5px;
      
    }
    
    .hotel{
        position: relative;
        width: 100%;
        height:250px;
        background-color: white;
        border-radius: 20px;
        top: 10px;
        margin-bottom: 15px;
        box-shadow: inset gray;
        box-shadow: 8px 8px 10px 0 rgba(0,0,0,0.5);
        -webkit-transition: all 0.2s;
         -moz-transition: all 0.2s;
         -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
         transition: all 0.2s;
        margin: 15px;
        
       
    }
    
    .hotel:hover{
        transform:scale(1.1);
    
    }
    
    .hotel1{
        position: relative;
        float: left;
        width: 100%;
        background-color: white;
        height: 150px;
        border-radius: 20px;
        margin-bottom: 20px;
        box-shadow: 8px 8px 10px 0 rgba(0,0,0,0.5);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        
    }
    
    .hotel1:hover{
        transform:scale(1.1);
    
    }
    


    .coment{
        position:absolute;
        left: 50%;
        top: 10px;
    }

    .commentaire{
        position:absolute;
        left: 5%;
        top: 160px;

    }
    
    
    .fa-star.blue{
    
        color: #0065FC;
    }
    
    #aside{
    
        background-color:#F2F2F2 ;
        width: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-content: space-around;
       
    }
    
    #plus{
        display: flex;
        width: 100%;
        height: 800px;
        border-radius: 10px;
        justify-content:space-around;
        flex-wrap: wrap;
        position: absolute;
        top: 600px;
    }


    .activite{
        display: flex;
        width: 100%;
        height: 600px;
        top: 1800px;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 100px;
        position: relative;
    }
    
  
    
    .imag{
        width: 100%;
        height: 300px;
        margin-bottom: 50px;
    }
    
    
    
    .image1{
        width: 400px;
        height: 200px;
       border-top-left-radius: 20px;
       border-top-right-radius: 20px;
    }
    
    .image2{
        width: 400px;
        height: 200px;
        border-radius: 20px;
    }
    
    
    
    footer{
        display: flex;
        position: relative;
        background-color:#F2F2F2;
        width: 100%;
        height: 400px;
        top: 2400px;
        justify-content: space-around;
        flex-direction: column;
    
    }
    
    .foot{
        position: absolute;
    }
    
    footer a{
        text-decoration: none;
        color: black;
    
    }

    
    


}


